<div class="container">
    <a class="nav-link" href="#!/account">
        <button class="btn btn-outline-dark" type="button"><- Back to Accounts</button>
    </a>
        <div class="row mt-3 mb-3">
            <div class="col-sm-4">
                <h4>Account Details</h4>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Id</label>
            <div class="col-sm-4">
                {{$ctrl.sharedService.account.id}}
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-4">
                {{$ctrl.sharedService.account.name}}
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-4">
                {{$ctrl.sharedService.account.email}}
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-4">
                {{$ctrl.sharedService.account.address}}
            </div>
        </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Balance</label>
        <div class="col-sm-4">
            PKR {{$ctrl.sharedService.accountBalance.amount}} ({{$ctrl.sharedService.accountBalance.date}})
        </div>
    </div>



    <div class="row">
        <div class="col m-1">
            <button class="btn btn-success" type="button" ng-click="$ctrl.viewBalanceHistory($ctrl.sharedService.account.id)">View Balance History</button>
        </div>
    </div>
    <div class="row" ng-if="$ctrl.showBalanceHistory">
        <div class="row mt-3 mb-3">
            <div class="col-sm-4">
                <h4>Balance History</h4>
            </div>
        </div>
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Debit/Credit</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in ::$ctrl.balanceHistory track by $index">
                    <td>{{::item.date}}</td>
                    <td>PKR {{::item.amount}}</td>
                    <td>{{::item.debitCreditIndicator}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col m-1">
            <button class="btn btn-success" type="button" ng-click="$ctrl.viewTransactions($ctrl.sharedService.account.id)">View Transactions</button>
        </div>
    </div>
    <div class="row" ng-if="$ctrl.showTransactions">
        <div class="row mt-3 mb-3">
            <div class="col-sm-4">
                <h4>Transactions</h4>
            </div>
        </div>
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Debit/Credit</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in ::$ctrl.accountTransactions track by $index">
                    <td>{{::item.date}}</td>
                    <td>{{::item.description}}</td>
                    <td>PKR {{::item.amount}}</td>
                    <td>{{::item.debitCreditIndicator}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



</div>