<div class="container-fluid" ng-init="$ctrl.search()">
    <div class="row">
        <div class="col-2 bg-dark text-light me-5">
            <a class="" href="#!/logout">
                <button class="btn btn-danger m-2 mb-4" type="button" >Logout</button>
            </a>
            <h4 class="ms-2">MENU</h4>
            <a href="#!/createAccount">
                <button class="btn btn-outline-light m-1" type="button">Create Account</button>
            </a>
            <a href="#!/transactions">
                <button class="btn btn-outline-light m-1" type="button">Bank Transactions</button>
            </a>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-sm-3">
                    <h4>Search Account</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <input type="text" id="name" name="name" class="form-control" ng-model="$ctrl.name" />
                </div>
                <div class="col-sm-2">
                    <input type="button" id="search" name="search" value="Search" class="btn btn-dark" ng-click="$ctrl.search()">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Balance</th>
                        </tr>
                        </thead>
                        <tbody ng-if="$ctrl.accountsExist">

                        <tr ng-repeat="item in $ctrl.accountsBalances track by $index">
                            <td>{{item.account.id}}</td>
                            <td>{{item.account.name}}</td>
                            <td>{{item.account.email}}</td>
                            <td>{{item.account.address}}</td>
                            <td>PKR {{item.balance.amount}} ({{item.balance.date}})</td>
                            <td>
                                <a class="btn btn-warning" href="#!/updateAccount/{{item.account.id}}">Update</a>
                                <button class="btn btn-danger" ng-click="$ctrl.deleteAccount(item.account.id)">Delete</button>
                                <a class="btn btn-info" href="#!/accountDetails/{{item.account.id}}">View Details</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <h6 class="text-danger" id="noMoreAccountsError"></h6>

                </div>
            </div>
        </div>
    </div>
</div>
