<div class="container-fluid" ng-init="$ctrl.allTransactions()">
    <div class="row mt-4 mb-4">
        <div class="col-4">
            <a href="#!/accounts">
                <button class="btn btn-outline-dark m-1 w-100" type="button"><- Back To Accounts</button>
            </a>
        </div>
        <div class="col-4">
            <a href="#!/createTransaction">
                <button class="btn btn-success m-1 w-100" type="button">Create Transaction</button>
            </a>
        </div>
        <div class="col-4">
            <a href="#!/transferAmount/admin">
                <button class="btn btn-success m-1 w-100" type="button">Transfer Amount</button>
            </a>
        </div>
    </div>
            <div class="row" ng-if="$ctrl.showTransactions">
                <div class="col-sm-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Debit/Credit</th>
                            <th>AccountId</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in ::$ctrl.transactions track by $index">
                            <td>{{::item.date}}</td>
                            <td>{{::item.description}}</td>
                            <td>{{::item.amount}}</td>
                            <td>{{::item.debitCreditIndicator}}</td>
                            <td>{{item.account.id}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
    <h6 class="text-danger" id="noTransactionsError"></h6>

</div>
