<div class="container">
    <form ng-submit="$ctrl.changePassword()">
        <div class="row mb-3">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <h4>Change Password</h4>
            </div>
        </div>

        <h6 id="oldPasswordNotMatchesError" class="text-danger"></h6>
        <h6 id="reEnterPasswordNotSameError" class="text-danger"></h6>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Old Password</label>
            <div class="col-sm-4">
                <input class="form-control" type="password" id="oldPassword" placeholder="Old Password" required ng-model="$ctrl.oldPassword" autofocus />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">New Password</label>
            <div class="col-sm-4">
                <input class="form-control" type="password" id="newPassword" placeholder="New Password" required ng-model="$ctrl.newPassword"/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Re-enter New Password</label>
            <div class="col-sm-4">
                <input class="form-control" type="password" id="reEnterNewPassword" maxlength="8" placeholder="Re-enter New Password" required ng-model="$ctrl.reEnterNewPassword" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <button class="btn btn-outline-dark" type="submit">Change</button>
            </div>
        </div>
    </form>
</div>